<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- Use a loop to display job results in a table. -->
    <table class="job-listing" th:fragment = "job-list">
        <tbody>
            <tr th:each="job : ${jobs}">
                <td>
                    <p th:text = "'ID: ' + ${job.id}"></p>
                    <p style="font-weight: bold;">Name: <span style="font-style: italic;" th:text ="${job.name}"></span></p>
                    <p>Employer: <a style="font-style: italic;" th:href="@{/list/jobs(column='employer', value=${job.employer})}" th:text = "${job.employer}"></a></p>
                    <p>Location: <a style="font-style: italic;" th:href="@{/list/jobs(column='location', value=${job.location})}" th:text = "${job.location}"></a></p>
                    <p>Position Type: <a style="font-style: italic;" th:href="@{/list/jobs(column='positionType', value=${job.positionType})}" th:text = "${job.positionType}"></a></p>
                    <p>Skill: <a style="font-style: italic;" th:href="@{/list/jobs(column='coreCompetency', value=${job.coreCompetency})}" th:text = "${job.coreCompetency}"></a></p>
                </td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>